
@font-face {
  font-family: 'sf_pro_displayregular';
  src: url('../fontsfree-net-sfprodisplay-regular-webfont.woff2') format('woff2'),
       url('../fontsfree-net-sfprodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'sf_pro_textregular';
  src: url('../fontsfree-net-sfprotext-regular-webfont.woff2') format('woff2'),
       url('../fontsfree-net-sfprotext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}